*{
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    height: 100px;
}

p{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

/* CLASE DEL MAIN QUE CONTIENE TODO */
.pokeMain{
    display: flex;
    justify-content: space-evenly;
}

.navegacionBut{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.navegacionBut form{
    display: flex;
    padding: 10px 0;
}

.navegacionBut input{
    font-size: 16px;
    height: 38px;
}

.navegacionBut button i{
    padding-top: 5px;
    font-size: 25px;
}

.navegacionBut input[type="text"]:focus {
    outline: none;
}

.Logo-Dex{
    width: 275px;
    font-size: 50px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* CONTENEDOR DE LA LISTA DE POKEMONES */
.listaPokemons{
    width: 90%;
    list-style-type: none;
    margin: 0;
    background-color: antiquewhite;
    padding: 0;
    border: 1px solid black;
    border-radius: 8px;
}

.headersLista{
    cursor: default;
}

.pokemonDetalles{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonDexNum{
    display: flex;
    justify-content: center;
    margin: 10px 10px 0 10px;
    width: 15%;
    cursor: default;
}

.pokemonDexImgSpc{
    display: flex;
    justify-content: center;
    margin: 10px 10px 0 10px;
    width: 15%;
}

.pokemonDexImg{
    width: 86px;
    height: 86px;
    cursor: pointer;
}


.pokemonDexName{
    display: flex;
    font-weight: bold;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #002bb8;
    text-decoration: none;
    width: 25%;
    justify-content: center;
}

.pokemonDexName:hover{
    color: #244ed9;
    cursor: pointer;
}

.pokemonDexNameHeader{
    display: flex;
    text-decoration: none;
    margin: 10px 10px 0 10px;
    width: 25%;
    justify-content: center;
}

.pokemonTipos{
    padding: 0;
    margin: 10px 10px 0 10px;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.tipos{
    padding: 0;
    margin: 0;
    height: 25px;
    min-width: 100px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
}

.tiposIconos{
    height: 20px;
    width: 20px;
}

.tiposNombre{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}


/* Botones para Siguiente | Anterior */

.botonSigAnt{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.SigAntPage{
    background-color: rgb(242, 200, 146);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.SigAntPage:hover{
    background-color: rgb(241, 183, 108);
}

.SigAntDisable{
    background-color: rgb(241, 183, 108);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: not-allowed;
    border-radius: 8px;
}

/* Estilos de vista de Pokemon Individual */
.pokeInd{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: antiquewhite;
    border: 1px solid black;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flotante{
    position: absolute;
    left: 20px;
    top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #002bb8;
}

.pokemonDexNameInd{
    font-weight: bold;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 24px;
}

.pokemonDexImgInd{
    width: 300px;
    height: 285px;
}

.pokemonDexNumInd{
    font-weight: bold;
    font-size: 20px;
}

.pokeIndSup{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.pokeIndSupP1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.pokeIndSupP2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokeIndPartes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokeIndP1{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding: 15px;
}

.pokeIndP2{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
}
.pokeIndPartes .pokeIndP2 p{
    font-weight: bold;
    padding: 5px;
}

.pokemonTiposInd{
    display: flex;
    flex-direction: column;
}

.pokemonTiposInd .tipos{
    margin-top: 5px;
    margin-bottom: 5px;
}

.pokeError{
    margin:50px;
    font-size: 25px;
    font-weight: bold;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.Contacto{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
.FooterIconsContainer{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.FooterIconsContainer a{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
}
.FooterIconsContainer p{
    color: black;
    padding-right: 5px;
}
.FooterIconsContainer svg{
    height: 32px;
    width: 32px;
}

/* MEDIA QUERYS */

@media (0px <= width <= 768px){
    *{
        font-size: 14px;
    }
    /* Detalles de Pokemon */
    /* Numero */
    .pokemonDexNum{
        margin: 0px 10px 0 10px;
        font-size: 14px;
    }
    /* Espacio de la imagen */
    .pokemonDexImgSpc{
        margin: 0px 10px 0 10px;
    }
    /* Nombres */
    .pokemonDexName{
        font-size: 14px;
    }
    .pokemonDexNameHeader{
        margin: 0px 10px 0 10px;
    }
    /* Imagenes */
    .pokemonDexImg{
        width: 64px;
        height: 64px;
    }
    /* Tipos */
    .pokemonTipos{
        margin: 0px;
        justify-content: space-evenly;
    }
    .tipos{
        min-width: 30px;
    }
    .tiposNombre{
        display: none;
    }

    /* Vista individual de Pokemones */
    /* Logo */
    .Logo-Dex span{
        display: none;
    }
    /* Flotante */
    .flotante{
        top:10px;
        left:10px;
        font-size: 14px;
    }
    .pokeInd{
        width: 90%;
    }
    .pokeIndSup{
        flex-direction: column;
        align-items: center;
    }

    /* Imagen Individual */
    .pokemonDexImgInd{
        width: 200px;
        height: 185px;
    }
    /* Descripciónes */
    .pokeIndPartes{
        border-top: 1px solid;
    }
    .pokemonTiposInd .tipos{
        min-width: 100px;
    }
    .pokeIndP2 .tiposNombre{
        display: flex;
    }
    /* Footer */
    .FooterIconsContainer{
        width: 60%;
        justify-content: space-evenly;
    }
    .FooterIconsContainer p{
        display: none;
    }
    .FooterIconsContainer a{
        padding: 0;
    }
}

@media (769px <= width <= 1024px){

    /* Vista Individual */
    .pokeIndSup{
        flex-direction: column;
        align-items: center;
    }
    .pokeIndP2 .tipos{
        min-width: 100px;
    }
    .pokeIndP2 .tiposNombre{
        display: flex;
    }
    .pokeIndPartes{
        border-top: 1px solid;
    }
}



/* 
Cambios desde:
- 0 a 480
- 481 a 768
- 769 a 1279
- 1280+
*/